.navbar{
  background-color: transparent;
}
.nav-link{
  color:#ECF0F1  ;
}
.opemi{
  color: #ECF0F1   ;
}
#menuman{
  background: rgb(186,97,148);
background: linear-gradient(90deg, rgba(186,97,148,1) 0%, rgba(20,71,89,1) 52%, rgba(131,33,18,1) 99%);
}
.profilepic{
  height:360px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 40px;

}
.myname{
  text-align: center;
  color: #ECF0F1;
  margin-bottom: 30px;
}
.nick{
  text-align: center;
  color: #ECF0F1;
  margin-bottom: 20px;
}
.job{
  text-align: center;
  color: #ECF0F1;
}
