.navbar{
  background-color:transparent;
}

.opemi{
  color: #ECF0F1   ;
}

#menu-man{
  background: rgb(83,28,195);
  background: linear-gradient(143deg, rgba(83,28,195,1) 0%, rgba(201,92,14,1) 98%);
}
.profilepic{
  height:360px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 30px;

}
.myname{
  text-align: center;
  color: #ECF0F1;
  margin-bottom: 30px;
}
.nick{
  text-align: center;
  color: #ECF0F1;
  margin-bottom: 20px;
}
.job{
  text-align: center;
  color: #ECF0F1;
}
.col-sm{
  padding-top: 30px;
}
.goodboy{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;

}
.me{
  color: #335EFF;

}
.ff{
  font-size: 20px;
  padding-bottom: 20px;
}
.stick{
  float: left;
}
.gf{
  font-size: 20px;
  padding-bottom: 20px;

}
.hay{
  float: left;
}
.food{
  font-size: 20px;
}
.gun{
  float: left;
}
.service{
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  color: #FFFFFF;
}
#able{
  background: rgb(122,162,103);
background: linear-gradient(90deg, rgba(122,162,103,1) 0%, rgba(51,80,27,1) 50%, rgba(20,142,112,1) 99%);
margin-top:2px;
}
.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
  font-size: 18px;
}
.rrr{
  text-align: center;
}
.dev{
  text-align: center;
}
.card-text1{
  text-align: center;
  font-size: 18px;
}
.agbaje{
  text-align: center;
}
.btn{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.recent{
  text-align: center;
  color: black;
  padding-top: 50px;
}
.very{
  margin-bottom: 25px;
}
.sexy{
  margin-bottom: 25px;
}
.limit1{
  margin-bottom: 25px;
  text-align: center;
}
.limit2{
  margin-bottom: 25px;
  text-align: center;
}
.limit3{
  margin-bottom: 25px;
  text-align: center;
  padding-top: 60px;
}
.limit4{
  margin-bottom: 25px;
  text-align: center;
  padding-top: 60px;
}
.sexy1{
  margin-bottom: 25px;
}
.sexy2{
  margin-bottom: 25px;
}
.sexy3{
  margin-bottom: 25px;
}
.sexy4{
  margin-bottom: 25px;
}
.limit5{
  margin-bottom: 25px;
  text-align: center;
  padding-top: 60px;
}
.limit6{
  margin-bottom: 25px;
  text-align: center;
  padding-top: 60px;
}
.boddyy{
  border: 2px solid;
  border-radius: 10px;
  width: 50%;
}
.mybtn{
  background-color: red;
  width: 100%;
}
.redd{
  color: red;
}
.card{
  color: red;
}
#forth{
  background: rgb(36,86,125);
background: linear-gradient(90deg, rgba(36,86,125,1) 0%, rgba(86,86,153,1) 52%, rgba(7,24,36,1) 100%);
}
.taxt{
  padding-top: 30px;
  text-align: center;
}
#contact-me{
  background: rgb(185,187,123);
background: linear-gradient(90deg, rgba(185,187,123,0.006039915966386533) 0%, rgba(185,178,92,0) 52%);
}

.card-body p{
  color: #000;
}
.uddy{
    height: 100px;
    width: 100px;
    align-self:center;
}
.fact{
  text-align: center;
}

.card-title{
  color:#000;
}
#Lastman{
  background: rgb(66,112,36);
background: linear-gradient(90deg, rgba(66,112,36,0.6054796918767507) 0%, rgba(20,238,75,0.6362920168067228) 51%);
margin-top: 7px;
padding-top: 15px;
padding-bottom: 8px;

}
.pp{
  text-align: center;
  font-size: 12px;

}
